<style>
  .active {
    color: #e04530 !important;
  }
</style>

<!-- slide banner top main -->
<section class="slide-top-main">
    <div class="slider">
      <div class="slide"></div>
    </div>
  </section>

  <section class="service-container">
    <div class="service">
      <div class="item ">
        <div class="image">
          <img src="../assets/images/service_1.webp" alt="" />
        </div>
        <div class="content">
          <div class="title">Giao hàng miễn phí</div>
          <div class="desc">
            Với các đơn hàng từ 100.000<sup>đ</sup> trở lên
          </div>
        </div>

        
      </div>

      <div class="item">
        <div class="image">
          <img src="../assets/images/service_2.webp" alt="" />
        </div>
        <div class="content">
          <div class="title">Phục vụ nhanh 24/7</div>
          <div class="desc">
            8h00 AM - 10h00 PM tất cả các ngày trong tuần
          </div>
        </div>
      </div>

      <div class="item">
        <div class="image">
          <img src="../assets/images/service_3.webp" alt="" />
        </div>
        <div class="content">
          <div class="title">Đồ uống đa dạng</div>
          <div class="desc">Dingtea, Matcha, gongcha, ...</div>
        </div>
      </div>
    </div>
  </section>

  <!-- slider product -->
  <div class="slide-product-content">
      <img src="../assets/images/title_module.webp" alt="">
      <div class="title">
        <a href="">Đồ uống khuyến mãi</a>
      </div>
    </div>
  </div>
  <section class="slide-product-container">
    <div class="slider-products">
      <div class="item item-position">
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%">
        </div>
        <div class="content">
          <div class="product-name" id="productName">Trà xanh bưởi</div>
          <div class="price">
              <span>29.000<sup>đ</sup></span>
              <span>49.000<sup>đ</sup></span>
              <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn " id="btn-buy">
            Mua hàng
          </div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>

      <div class="item item-position">
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%">
        </div>
        <div class="content">
          <div class="product-name" id="productName">Trà Trân Châu bưởi</div>
          <div class="price">
              <span>29.000<sup>đ</sup></span>
              <span>49.000<sup>đ</sup></span>
              <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn" id="btn-buy">
            Mua hàng
          </div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <div class="item item-position">
        <div class="product-img">
          <img src="../assets/images/products/sp3.webp" alt="" width="100%">
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
              <span>29.000<sup>đ</sup></span>
              <span>49.000<sup>đ</sup></span>
              <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn" id="btn-buy" >
            Mua hàng
          </div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>

      <div class="item item-position">
        <div class="product-img">
          <img src="../assets/images/products/sp4.webp" alt="" width="100%">
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
              <span>29.000<sup>đ</sup></span>
              <span>49.000<sup>đ</sup></span>
              <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">
            Mua hàng
          </div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>

      <div class="item item-position">
        <div class="product-img">
          <img src="../assets/images/products/sp5.webp" alt="" width="100%">
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
              <span>29.000<sup>đ</sup></span>
              <span>49.000<sup>đ</sup></span>
              <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">
            Mua hàng
          </div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- banner -->
  <section class="section-banner">
    <div class="banner-left">
        <div class="image-box">
          <img src="../assets/images/banner/banner_1.webp" title="" alt="">
          <div class="text-box">
            <h3><a href="">Mua ngay</a></h3>
          </div>
        </div>
    </div>

    <div class="banner-right">
      <div class="image-box ">
        <img src="../assets/images/banner/banner_2.webp" title="" alt="">
        <div class="text-box ">
          <h3><a href="">Mua ngay</a></h3>
        </div>
      </div>
    </div>
  </section>

  <div class="slide-product-content">
    <img src="../assets/images/banner/title_tab.png" alt="">
    <div class="title">
      <a href="">Đồ uống ưa thích</a>
    </div>
  </div>

  <div class="menu-love">
    <div class="menu-love-item active-class" onclick="clickTab('../layout/home/TraTruyenThong.html')">Trà truyền thống</div>
    <div class="menu-love-item active-class" onclick="clickTab('../layout/home/TraSuaTraiCay.html')">Trà sữa trái cây</div>
    <div class="menu-love-item active-class" onclick="clickTab('../layout/home/TraSuaDaiLoan.html')">Trà sữa đài loan</div>
    <div class="menu-love-item active-class" onclick="clickTab('../layout/home/NuocTraiCay.html')">Nước trái cây</div>
    <div class="menu-love-item active-class" onclick="clickTab('../layout/home/DoUongNong.html')">Đồ uống nóng</div>
  </div>

  <div id="product-love-tab"  >

  </div>

  <div class="bg-top">
  </div>
  <div class="bg-top2">
  </div>

  <section class="especially-product-container">
    <div class="slide-product-content">
      <img src="../assets/images/title_special.png" alt="">
      <div class="title title-special">
        <a href="">Đồ uống đặc biệt</a>
      </div>
    </div>

    <div class="menu-product-special">
      <div class="item-special">
        <div class="product-image">
          
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>

      <div class="item-special">
        <div class="product-image">
        </div>
        <div class="product-content">
          <div class="product-name-special">
            <a href="">Sinh tố dâu tây............................................</a>
          </div>
          <div class="desc">Hãy bổ sung dâu tây vào cơ thể ...</div>
        </div>
        <div class="product-special-price">
          <span>42.000<sup>đ</sup></span>
          <span>55.000<sup>đ</sup></span>
        </div>
      </div>
    </div>
  </section>

  <div class="slide-product-content">
    <img src="../assets/images/title_module.webp" alt="">
    <div class="title">
      <a href="">Tin tức khuyến mãi</a>
      
    </div>
  </div>
</div>

<section class="blog-container">
  <div class="blog-item-container">
    <div class="blog-item">
      <span class="time">25/11/2022</span>
      <div class="blog-item-name"><a href="">Trào lưu trà sữa ở Sài Gòn đã dậy thì thành công như thế nào?</a></div>
    </div>

    <div class="blog-item">
      <span class="time">25/11/2022</span>
      <div class="blog-item-name"><a href="">Trào lưu trà sữa ở Sài Gòn đã dậy thì thành công như thế nào?</a></div>
    </div>

    <div class="blog-item">
      <span class="time">25/11/2022</span>
      <div class="blog-item-name"><a href="">Trào lưu trà sữa ở Sài Gòn đã dậy thì thành công như thế nào?</a></div>
    </div>
  </div>

  <div class="btn-blog">Xem thêm</div>
</section>

<!-- Modal Cho Website -->
<div id="myModal" class="modal">

  <!-- Nội Dung Modal -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-title">Bạn đã thêm <span id="modal-product-name"></span> vào giỏ hàng!</div>
    <div class="mount-products">Giỏ hàng hiện có: <span id="modal-product-amount"></span> sản phẩm </div>
    
    <div class="list-cart-product">
      <div class="cart-item">
        <div id="product-image">
          
        </div>
        <input type="number" value="">
      </div>
    </div>
  </div>

</div>

<script>
      $(document).ready(function () {
        $(".slider-products").slick({
          slidesToShow: 4,
          slidesToScroll: 1,
          // autoplay: true,
          // autoplaySpeed: 3000,
        });

        
      $(document).ready(function () {
          $("#product-love-tab").load("../layout/home/TraTruyenThong.html");
          $(this).addClass('active')
        })
      });
</script>

