<div class="">
  <div class="slider-products container-product-love">
    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="item item-position" style="margin-left: 0">
      <div class="product-img">
        <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
      </div>
      <div class="content">
        <div class="product-name">Trà xanh bưởi</div>
        <div class="price">
          <span>29.000<sup>đ</sup></span>
          <span>49.000<sup>đ</sup></span>
          <span>-22%</span>
        </div>
      </div>

      <div class="item-action">
        <div class="search-btn btn-item-action">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="buy-btn">Mua hàng</div>
        <div class="love btn-item-action">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>
    </div>
  </div>
</div>
