<footer>
  <div class="footer-container">
    <div class="time-open">
      <div class="icon">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="title">Giờ mở cửa</div>
      <div class="desc-time">
        <div class="week-day">
          <span>Thứ 2-6:</span>
          <span>8h00 am - 22h00 pm</span>
        </div>
        <div class="week-day weekend">
          <span>Thứ 7-CN:</span>
          <span>9h00 am - 21h00 pm</span>
        </div>
      </div>
    </div>

    <div class="time-open">
      <div class="icon">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div class="title">Thông tin liên hệ</div>
      <div class="desc-time">
        <div class="address">
          Địa chỉ: Đại học phenikaa, Nguyễn Văn Trác, Hà Đông, Hà Nội, Vietnam
        </div>
        <div class="phone-number">Điện thoại: 098686868</div>
      </div>
    </div>

    <div class="time-open">
      <div class="icon">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
      <div class="title">Kết nối với chúng tôi</div>
      <div class="social">
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-google"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copy-right-container">
    <div class="content-copy">
      <span>&copy;</span>
      <span>Bản quyền thuộc về: My-Team</span>
    </div>

    <div class="menu-page">
      <div><a href="">Trang chủ</a></div>
      <div><a href="">Sản phẩm</a></div>
      <div><a href="">Tin tức</a></div>
      <div><a href="">Giới thiệu</a></div>
      <div><a href="">Liên hệ</a></div>
    </div>
  </div>
</footer>
