<div class="contact-container">
  <div class="breadcrumb_background introduce_bg">
    <img src="../../assets/images/products/breadcrumb.webp" alt="" />
    <div class="title-product">Liên hệ</div>
  </div>

  <div class="title-url">
    <span><a href="">Trang chủ</a></span>
    <span>/</span>
    <span><a href="">Liên hệ</a></span>
  </div>

  <div class="address-title">Hệ thống cửa hàng</div>

  <div class="contact-content-container">
    <div class="contact-left">
      <div class="address-item">
        <div class="address-name">BobaDrink Đội Cấn</div>
        <div class="address-small">
          <i class="fa-solid fa-location-dot icon-contact"></i>
          <span class="text-span"
            >Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Ba Đình - Hà Nội</span
          >
        </div>
        <div class="contact-phone">
          <i class="fa-solid fa-phone-flip icon-contact"></i>
          <span class="text-span">0868686868</span>
        </div>
        <div class="contatc-time-open">
          <span>Giờ mở cửa: 8h00 am - 22h00 pm</span>
        </div>
      </div>

      <div class="address-item">
        <div class="address-name">BobaDrink Đội Cấn</div>
        <div class="address-small">
          <i class="fa-solid fa-location-dot icon-contact"></i>
          <span class="text-span"
            >Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Ba Đình - Hà Nội</span
          >
        </div>
        <div class="contact-phone">
          <i class="fa-solid fa-phone-flip icon-contact"></i>
          <span class="text-span">0868686868</span>
        </div>
        <div class="contatc-time-open">
          <span>Giờ mở cửa: 8h00 am - 22h00 pm</span>
        </div>
      </div>

      <div class="address-item">
        <div class="address-name">BobaDrink Đội Cấn</div>
        <div class="address-small">
          <i class="fa-solid fa-location-dot icon-contact"></i>
          <span class="text-span"
            >Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Ba Đình - Hà Nội</span
          >
        </div>
        <div class="contact-phone">
          <i class="fa-solid fa-phone-flip icon-contact"></i>
          <span class="text-span">0868686868</span>
        </div>
        <div class="contatc-time-open">
          <span>Giờ mở cửa: 8h00 am - 22h00 pm</span>
        </div>
      </div>
    </div>
    <div class="contact-right">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.786304425204!2d105.74501681436732!3d20.961095195461983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313452efff394ce3%3A0x391a39d4325be464!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBQaGVuaWthYQ!5e0!3m2!1svi!2s!4v1669655178334!5m2!1svi!2s"
        width="570"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="form-contact">
    <h3 class="form-title">Liên hệ với chúng tôi</h3>
    <form id="contact-form" method="post">
      <div class="input-infor">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Họ & tên"
          required
          class="input-name"
        />

        <input
          type="email"
          id="email"
          name="email"
          placeholder="email"
          required
          class="input-name"
        />

        <input
          type="text"
          id="phone"
          name="phone"
          placeholder="Số điện thoại"
          required
          class="input-name"
        />
      </div>

      <textarea
        class="mess"
        placeholder="Bình luận"
        id="message"
        name="message"
        required
      ></textarea>
      <button type="submit" id="submit" name="submit" class="btn">
        gửi liên hệ
      </button>
    </form>

    <div id="error"></div>
    <div id="success-msg"></div>
  </div>
</div>

