<div class="product-main-container">
  <div class="breadcrumb_background">
    <img src="../../assets/images/products/breadcrumb.webp" alt="" />
    <div class="title-product">Tất cả sản phẩm</div>
  </div>
  <div class="title-url">
    <span><a href="">Trang chủ</a></span>
    <span>/</span>
    <span><a href="">Tất cả sản phẩm</a></span>
  </div>

  <div class="all-products">
    <div class="option-product">
      <div class="menu-produc-page">
        <div class="big-title">Danh mục sản phẩm</div>
        <div class="menu-small">
          <ul>
            <li><a href="../../layout/app.html">Trang chủ</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">liên hệ</a></li>
          </ul>
        </div>
      </div>

      <div class="menu-brand">
        <div class="big-title">Thương hiệu</div>
        <div class="list-brand">
          <ul>
            <li>
              <input type="checkbox" id="gongcha" name="gongcha" />
              <label class="text" for="gongcha"> Gong Cha</label>
            </li>
            <li>
              <input type="checkbox" id="gongtea" name="gongtea" />
              <label for="gongtea"> Gong Tea</label>
            </li>
            <li>
              <input type="checkbox" id="Pobapop" name="Pobapop" />
              <label for="Pobapop"> Pobapop</label>
            </li>
            <li>
              <input type="checkbox" id="royaltea" name="royaltea" />
              <label for="royaltea"> Royal Tea</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="products-prices">
        <div class="big-title">Mức giá</div>
        <div class="list-brand">
          <ul>
            <li>
              <input type="checkbox" id="price1" name="price1" />
              <label class="text" for="price1"> Giá dưới 20.000đ</label>
            </li>
            <li>
              <input type="checkbox" id="price2" name="price2" />
              <label for="price2"> 20.000đ - 39.000đ</label>
            </li>
            <li>
              <input type="checkbox" id="price3" name="price3" />
              <label for="price3"> 40.000đ - 59.000đ</label>
            </li>
            <li>
              <input type="checkbox" id="price4" name="price4" />
              <label for="price4"> 60.000đ - 99.000đ</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="products-sizes">
        <div class="big-title">Kích thước</div>
        <div class="list-brand">
          <ul>
            <li>
              <input type="checkbox" id="size-l" name="size-l" />
              <label for="size-l"> L</label>
            </li>
            <li>
              <input type="checkbox" id="size-m" name="size-m" />
              <label for="size-m"> M</label>
            </li>
            <li>
              <input type="checkbox" id="size-s" name="size-s" />
              <label for="size-s"> S</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="product-selling">
        <div class="big-title">Sản phẩm bán chạy nhất</div>
        <div class="list-product-selling">
          <div class="item-selling">
            <div class="image-sell">
              <img src="../../assets/images/products/sp1.webp" alt="" />
            </div>

            <div class="price-sell">
              <div class="product-sell-name">Sinh tố dâu tây</div>
              <div class="product-sell-price">
                <span class="new-price">29.000<sup>đ</sup></span>
                <span class="old-price">49.000<sup>đ</sup></span>
              </div>
            </div>
          </div>

          <div class="item-selling">
            <div class="image-sell">
              <img src="../../assets/images/products/sp3.webp" alt="" />
            </div>

            <div class="price-sell">
              <div class="product-sell-name">Sinh tố dâu tây</div>
              <div class="product-sell-price">
                <span class="new-price">29.000<sup>đ</sup></span>
                <span class="old-price">49.000<sup>đ</sup></span>
              </div>
            </div>
          </div>

          <div class="item-selling">
            <div class="image-sell">
              <img src="../../assets/images/products/sp2.webp" alt="" />
            </div>

            <div class="price-sell">
              <div class="product-sell-name">Sinh tố dâu tây</div>
              <div class="product-sell-price">
                <span class="new-price">29.000<sup>đ</sup></span>
                <span class="old-price">49.000<sup>đ</sup></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-product">
      <div class="header-list-product">
        <div class="model-left">
          <div class="view-cell">
            <i class="fa-solid fa-table-cells"></i>
          </div>
          <div class="view-list">
            <i class="fa-solid fa-list"></i>
          </div>
        </div>
        <div class="sort-right">
          <div class="sort-title">Sắp xếp</div>
          <div class="sort-option">
            <span>Thứ tự</span>
            <i class="fa-solid fa-angle-down"></i>
            <div class="menu-sort">
              <ul>
                <li>Mặc định</li>
                <li>A -> Z</li>
                <li>Z -> A</li>
                <li>Giá tăng dần</li>
                <li>Giá giảm dần</li>
                <li>Sản phẩm mới</li>
                <li>Sản phẩm cũ</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main-list-product">
        <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" ">
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- start -->
      <div class="item item-position" >
        <div class="product-img">
          <img src="../assets/images/products/sp1.webp" alt="" width="100%" />
        </div>
        <div class="content">
          <div class="product-name">Trà xanh bưởi</div>
          <div class="price">
            <span>29.000<sup>đ</sup></span>
            <span>49.000<sup>đ</sup></span>
            <span>-22%</span>
          </div>
        </div>

        <div class="item-action">
          <div class="search-btn btn-item-action">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="buy-btn">Mua hàng</div>
          <div class="love btn-item-action">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
      <!-- end -->
      </div>

      <div class="product-pagination">
        <ul>
          <li><i class="fa-solid fa-angle-left"></i></li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li><i class="fa-solid fa-angle-right"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
