<div class="news-container">
  <div class="breadcrumb_background introduce_bg">
    <img src="../../assets/images/products/breadcrumb.webp" alt="" />
    <div class="title-product">Tin tức</div>
  </div>

  <div class="title-url">
    <span><a href="">Trang chủ</a></span>
    <span>/</span>
    <span><a href="">Tin tức</a></span>
  </div>

  <div class="all-products">
    <div class="option-product">
      <div class="menu-produc-page">
        <div class="big-title">Danh mục sản phẩm</div>
        <div class="menu-small">
          <ul>
            <li><a href="../../layout/app.html">Trang chủ</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">liên hệ</a></li>
          </ul>
        </div>
      </div>

      <div class="news-hot">
        <div class="big-title">Tin tức nổi bật</div>
        <div class="list-news-hot">
          <div class="item-new-hot">
            <div class="image-new-hot">
              <img
                src="../../assets/images/News/bn1.webp"
                alt=""
                width="100%"
              />
            </div>

            <div class="infor-news-hot">
              <span class="content-news-hot">
                Trào lưu trà sữa ở Sài Gòn đã dậy thì thành công như thế nào?
              </span>
              <span class="time-update">13/11/2017</span>
            </div>
          </div>

          <div class="item-new-hot">
            <div class="image-new-hot">
              <img
                src="../../assets/images/News/bn1.webp"
                alt=""
                width="100%"
              />
            </div>

            <div class="infor-news-hot">
              <span class="content-news-hot">
                Trào lưu trà sữa ở Sài Gòn đã dậy thì thành công như thế nào?
              </span>
              <span class="time-update">13/11/2017</span>
            </div>
          </div>

          <div class="item-new-hot">
            <div class="image-new-hot">
              <img
                src="../../assets/images/News/bn1.webp"
                alt=""
                width="100%"
              />
            </div>

            <div class="infor-news-hot">
              <span class="content-news-hot">
                Trào lưu trà sữa ở Sài Gòn đã dậy thì thành công như thế nào?
              </span>
              <span class="time-update">13/11/2017</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-news-hot-big">
      <div class="header-list-product">
        <span class="news-title">Tin tức</span>
      </div>
      <div class="main-list-product"></div>
    </div>
  </div>
</div>
